* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Kulim Park', sans-serif;
}

body {
  background-color: #FFDF6F;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 10%;
  z-index: 6;
}

button {
  padding: 10px 15px;
  border: 0;
  background-color: white;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: -5px 5px 0px 0px #000;
  box-shadow: -5px 5px 0px 0px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -7px 12px 0px 0px #000;
  box-shadow: -7px 12px 0px 0px #000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: -5px 5px 0px 0px #000;
  box-shadow: -5px 5px 0px 0px #000;
  z-index: 6;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Kulim Park',
    sans-serif;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}

.nav-links li:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-discord-container {
  z-index: 6;
}

.nav-discord {
  z-index: 8;
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

.nav-discord #nav-discord-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-discord #nav-discord-button {
  background-color: white;
  padding: 10px 25px 10px 15px;
  border-radius: 4px;
  margin-right: -20px;
  -webkit-box-shadow: -5px 5px 0px 0px #000;
  box-shadow: -5px 5px 0px 0px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.nav-discord #nav-discord-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: -7px 12px 0px 0px #000;
  box-shadow: -7px 12px 0px 0px #000;
}

.nav-discord #nav-discord-button:hover+#nav-discord-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.logo {
  height: 70px;
  cursor: pointer;
}

.logo-loop {
  width: 600px;
  padding-bottom: 20px;
}

.hero-container {
  height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -113.9px;
  overflow: hidden !important;
}

.main-CTA {
  position: absolute;
  z-index: 3;
}

.hero-overlay {
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.hero-image-carousel {
  opacity: 0.7;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden !important;
}

.hero-image-carousel .carousel-row {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.hero-image-carousel .carousel-row img {
  width: 16.7vh;
}

/* background animating kind of,... */
@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  to {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes right {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  to {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.right {
  -webkit-animation: right 8s infinite linear;
  animation: right 8s infinite linear;
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  to {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  to {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.left {
  -webkit-animation: left 8s infinite linear;
  animation: left 8s infinite linear;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#twitter-button,
#discord-button {
  margin: 0 10px;
}

#twitter-button {
  background-color: #7BBCFF;
}

#discord-button {
  background-color: #B47BFF;
}

.info-container {
  height: 800px;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */


footer {
  padding: 0 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

footer p {
  font-size: 20px;
  font-weight: bold;
}

.footer-logo-icon {
  height: 3.75rem;
}

.footer-social-links {
  font-size: 2.5rem;
}