* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
}

::-moz-selection {
  background: #FF6D6D;
  /* WebKit/Blink Browsers */
}

::selection {
  background: #FF6D6D;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #FF6D6D;
  /* Gecko Browsers */
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
}

p {
  letter-spacing: -0.02em;
}

body {
  background-color: #ffdf6f;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10%;
  z-index: 6;
}

button {
  padding: 10px 15px;
  border: 0;
  background-color: white;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: -5px 5px 0px 0px #000;
          box-shadow: -5px 5px 0px 0px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -7px 12px 0px 0px #000;
          box-shadow: -7px 12px 0px 0px #000;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: -5px 5px 0px 0px #000;
          box-shadow: -5px 5px 0px 0px #000;
  z-index: 6;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Kulim Park", sans-serif;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}

.nav-links li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-discord-container {
  z-index: 6;
}

.nav-discord {
  z-index: 8;
  cursor: pointer;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.nav-discord #nav-discord-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-discord #nav-discord-button {
  background-color: white;
  padding: 10px 25px 10px 15px;
  border-radius: 4px;
  margin-right: -20px;
  -webkit-box-shadow: -5px 5px 0px 0px #000;
          box-shadow: -5px 5px 0px 0px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

.nav-discord #nav-discord-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: -7px 12px 0px 0px #000;
          box-shadow: -7px 12px 0px 0px #000;
}

.nav-discord #nav-discord-button:hover + #nav-discord-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.logo {
  height: 70px;
  cursor: pointer;
}

.logo-loop {
  width: 600px;
  padding-bottom: 20px;
}

/* HERO */
.hero-container {
  height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -113.9px;
  overflow-x: hidden !important;
}

.main-CTA {
  position: absolute;
  z-index: 3;
}

.hero-overlay {
  background-color: rgba(255, 255, 255, 0);
  height: calc(100vh);
  width: 100%;
  z-index: 2;
  border-bottom: 10px solid black;
}

.hero-image-carousel {
  opacity: 0.7;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden !important;
}

.hero-image-carousel .carousel-row {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero-image-carousel .carousel-row img {
  width: 16.7vh;
}

/* background animating kind of,... */
@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-33.4vh);
            transform: translateX(-33.4vh);
  }
}
@keyframes right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-33.4vh);
            transform: translateX(-33.4vh);
  }
}

.right {
  -webkit-animation: right 8s infinite linear;
          animation: right 8s infinite linear;
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(33.4vh);
            transform: translateX(33.4vh);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(33.4vh);
            transform: translateX(33.4vh);
  }
}

.left {
  -webkit-animation: left 8s infinite linear;
          animation: left 8s infinite linear;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#twitter-button,
#discord-button {
  margin: 0 10px;
}

#twitter-button {
  background-color: #7bbcff;
}

#discord-button {
  background-color: #b47bff;
}

/* INFO SECTION */
.info-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 100px 100px 100px;
}

.info-container .info-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

.info-container .info-box .info-text {
  margin: auto;
  background-color: white;
  padding: 50px 70px 50px 90px;
  margin-left: -20px;
  border: 9px solid black;
  border-radius: 20px;
  z-index: 0;
}

.info-container .info-box .info-text h3 {
  font-size: 2em;
  line-height: 0.8em;
}

.info-container .info-box .info-text h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.info-container .info-box .info-text p {
  font-size: 1.4em;
}

.info-container .info-box .info-image {
  z-index: 2;
}

.info-container .info-box .info-image .info-image-border {
  border: 9px solid black;
  border-radius: 20px;
  z-index: 1;
  height: 500px;
  width: 500px;
  position: absolute;
}

.info-container .info-box .info-image img {
  width: 500px;
  z-index: 0;
  border-radius: 20px;
}

.info-container .info-blotches {
  margin-top: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
}

.info-container .info-blotches .info-blotch {
  margin: 0 0px;
  padding: 25px 40px;
}

.info-container .info-blotches #red-blotch {
  background-image: url(/images/blotch/red.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.info-container .info-blotches #red-blotch h3::-moz-selection {
  background: #47C9FF;
  /* WebKit/Blink Browsers */
}

.info-container .info-blotches #red-blotch h3::selection {
  background: #47C9FF;
  /* WebKit/Blink Browsers */
}

.info-container .info-blotches #purple-blotch {
  background-image: url(/images/blotch/purple.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.info-container .info-blotches #purple-blotch h3::-moz-selection {
  background: #FF6D6D;
  /* WebKit/Blink Browsers */
}

.info-container .info-blotches #purple-blotch h3::selection {
  background: #FF6D6D;
  /* WebKit/Blink Browsers */
}

.info-container .info-blotches #blue-blotch {
  background-image: url(/images/blotch/blue.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.info-container .info-blotches #blue-blotch h3::-moz-selection {
  background: #AD7CFF;
  /* WebKit/Blink Browsers */
}

.info-container .info-blotches #blue-blotch h3::selection {
  background: #AD7CFF;
  /* WebKit/Blink Browsers */
}

/* VIDEO SECTION */
.video-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  width: 100%;
  z-index: 99999;
}

.video-container .video-border {
  position: absolute;
  height: 450px;
  width: 800px;
  border: 9px solid black;
  border-radius: 15px;
}

.video-container .video {
  height: 450px;
  width: 800px;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  font-weight: bolder;
  color: #bbb;
}

.video-seperator {
  margin-top: 250px;
  width: 110%;
  margin-left: -5%;
  border-top: 9px solid black;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  height: 350px;
  background-color: #333;
}

.expanding-container {
  margin-top: -100px;
  background: #333;
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expanding-box {
  position: absolute;
  z-index: 999;
  max-width: 1000px;
  background-color: #fff;
  color: #454545;
  padding: 50px 80px 100px 80px;
  outline: 9px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 0 0px 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 100px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.expanding-box .continue-reading {
  position: absolute;
  bottom: 25px;
  color: white;
  background-color: #222;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.5em;
}

.expanding-box p {
  font-size: 1.4em;
}

.expanding-box .expanding-header {
  text-align: center;
  margin-bottom: 30px;
  color: black;
}

.expanding-box .expanding-header h1 {
  font-size: 4em;
}

.expanding-box .expanding-header h3 {
  font-size: 2em;
  color: #555;
}

.expanding-box .expanding-header p {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), color-stop(5%, rgba(187, 187, 187, 0)), to(rgba(187, 187, 187, 0)));
  background-image: linear-gradient(180deg, #bbbbbb 0%, rgba(187, 187, 187, 0) 5%, rgba(187, 187, 187, 0) 100%);
}

.closed {
  background-color: #333;
  outline: 0px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  color: #bbb;
  height: 430px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.closed .continue-reading {
  position: absolute;
  bottom: 25px;
  position: absolute;
  bottom: 25px;
  color: black;
  background-color: white;
  -webkit-box-shadow: -5px 5px 0 black;
          box-shadow: -5px 5px 0 black;
}

.closed .continue-reading:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -7px 12px 0px 0px #000;
          box-shadow: -7px 12px 0px 0px #000;
}

.closed p {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), color-stop(20%, rgba(187, 187, 187, 0)), to(rgba(187, 187, 187, 0)));
  background-image: linear-gradient(180deg, #bbbbbb 0%, rgba(187, 187, 187, 0) 20%, rgba(187, 187, 187, 0) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.closed h1 {
  color: #AD7CFF;
}

.closed h3 {
  color: #AD7CFF !important;
}

/* RANK SECTION */
.rank-container {
  width: 110%;
  z-index: 4;
  margin-left: -5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 130px 0 150px 0;
  background-color: #555;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  border-top: 9px solid black;
  border-bottom: 9px solid black;
  margin-top: 300px;
}

.rank-container .rank-heading {
  width: 42%;
  margin: auto;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  text-align: center;
  margin-bottom: 80px;
}

.rank-container .rank-heading h1 {
  font-size: 5em;
  color: white;
  margin-bottom: 10px;
}

.rank-container .rank-heading p {
  color: white;
  font-size: 1.4em;
}

.rank-container .rank-box {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
  padding: 0px 30px;
  width: 90%;
  margin: auto;
}

.rank-container .rank-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: white;
  border: 9px solid black;
  border-radius: 15px;
}

.rank-container .rank-card .rank-card-img {
  width: 250px;
  min-width: 200px;
  min-height: 250px;
  background-image: url(/images/characters/10.png);
  background-size: cover;
  background-position: center;
  border-radius: 7px 0 0 7px;
}

.rank-container .rank-card .rank-card-img img {
  height: 100%;
  width: 100%;
  border-radius: 6px 0 0 6px;
}

.rank-container .rank-card-text {
  padding: 20px 50px;
  max-width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rank-container .rank-card-text h3 {
  font-size: 1.7em;
  padding: 0;
  margin-bottom: -7px;
}

.rank-container .rank-card-text h1 {
  font-size: 2.6em;
  margin-bottom: 10px;
}

.rank-container .rank-card-text p {
  font-size: 1.4em;
}

/* COLLABERATION SECTION */
.collab-container {
  background-color: #FF6D6D;
  padding: 100px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-bottom: 9px solid black;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  width: 110%;
  margin-left: -5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.collab-title {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  font-size: 5em;
  color: #fff;
  margin-bottom: 15px;
}

.collab-text {
  font-size: 1.4em;
  padding: 5px 0 25px 0;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.send-transmission {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

/* BEGIN FOOTER */
footer {
  padding: 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer p {
  font-size: 20px;
  font-weight: bold;
}

.footer-logo-icon {
  height: 3.75rem;
}

.footer-social-links {
  cursor: pointer;
  font-size: 2.5rem;
}

.fa-brands {
  color: black;
  padding: 0 5px;
}

/* END FOOTER */
/*# sourceMappingURL=styles.css.map */